.common-btn {
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid $mainPink;
    font-weight: bold;
    cursor: pointer;
}

.header-text button {
    margin-top: 20px;
    margin-bottom: 60px;
}

#menuBtn {
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}