.common-btn {
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid $mainPink;
    font-weight: bold;
    cursor: pointer;
}

.header-text button {
    margin-top: 20px;
    margin-bottom: 60px;
}

#menuBtn {
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}

.course-text button {
    margin: 30px 0;
}

#offer button {
    margin: 30px 0;
}

.btn-box button {
    flex-basis: 48%;
    padding: 18px 0;
}

.footer-logo button {
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}